body {
    align-items: center;
    display: flex;
    justify-content: center;
}


.App {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 15px;
    color: white;
}

.inputContainer {
    margin-bottom: 20px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.historyContainer {
    background-color: aliceblue;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.historyContainer h3 {
    color: black;
    font-size: 20px;
}

.historyContainer ul{
    color: black;
}
